body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

html {
  width: 100%;
  height: 100%;
}

#translated-tree {
  white-space: pre;
  background-color: gray;
  height: 80%;
  width: 80%;
  padding: 16px;
  overflow: auto;
  font-size: 100%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 6px;
}

.graph-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 70%;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-left: 1px solid black;
  margin-top: 10px;
  height: 100vh;
  width: 30%;
}

.button-container {
  display: flex;
  flex-direction: row;
}
