body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

html {
  width: 100%;
  height: 100%;
}

#translated-tree {
  overflow: scroll;
  background-color: gray;
  height: 50%;
}

.graph-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 70%;
}

.produce-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-left: 1px solid black;
  margin-top: 10px;
  height: 100%;
  width: 30%;
}
